.addPostForm {
  display: flex;
  flex-direction: column;
  padding: 4vh;
  align-items: flex-start;
}

.addPostLabel {
  position: absolute;
  left: -99999px;
}

.addPostTitle,
.addPostContent {
  text-align: left;
  border: 2px solid var(--COLOR-THEME-2);
  box-shadow: 1px 1px 1px 1px var(--COLOR-THEME-2);
  border-radius: 5px;
  padding: 1vh 2vh;
  font: inherit;
  width: 100%;
  margin-block: 1vh;
}

.addPostButton {
  color: var(--COLOR-THEME-1);
  background-color: var(--COLOR-THEME-3);
  border-radius: 5px;
  padding: 1vh 2vh;
  font: inherit;
  width: 100%;
  margin-block: 1vh;
}
