nav {
  margin-top: 1vh;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--COLOR-THEME-2);
  align-items: center;
}

nav > a {
  text-decoration: none;
  color:var(--COLOR-THEME-4);
  padding: 1vh;
  width: 100%;
  text-align: center;
  font-size:var(--FS-MEDIUM);
}

nav > a:hover {
  opacity: 0.8;
}
