/* reset */
* {
  margin: 0;
  box-sizing: border-box;
  font-size: min(2.5vh, 25px);
}
/* allgemein */
html {
  background-color: gainsboro;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blanchedalmond;
  position: relative;
  padding-block: 5rem;
  width: 80vw;
  min-width: 412px;
  max-width: 800px;
  min-height: 100vh;
  margin-inline: auto;
  border: solid 1px gainsboro;
  border-radius: 5px;
  box-shadow: 1px 1px 13px gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: rgb(207, 229, 119);
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: .8;
  cursor: pointer;
}

main {
  margin-block: 3vh;
  padding-block: 3vh;
}

h1 {
  font-size: min(3.5vh, 35px);
}

/* Utilities */

.whiteSpacePre {
  white-space: pre;
}

.noWrap {
  white-space: nowrap;
}

/* Header */

header {
  color: #333;
  background-color: rgb(207, 229, 119);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
}

.signOutButton {
  background-color: gold;
}

/* LogIn */
.errorMessage {
  color: red;
}

.signInElements {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  margin-top: 15vh;
  margin-inline: auto;
  background-color: rgb(207, 229, 119);
  padding: 2vh;
  border-radius: 0.5rem;
}

.signInElements > input {
  background-color: rgb(236, 217, 208);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px rgba(0, 128, 0, 0.1);
}

.signInElements > button {
  background-color: rgb(244, 218, 144);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px rgba(0, 128, 0, 0.1);
}

.signInElements > button:hover {
  background-color: rgb(245, 205, 96);
}

/* UserSection */
.welcomeMessage {
  margin-top: 3rem;
}

.user-photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 1px gainsboro;
  margin-inline: auto;
  margin-block: 1rem;
  box-shadow: 1px 1px 2px gray;
}
.user-photo-default {
  height: 50px;
  width: 50px;
  border: solid 2px #333;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(207, 229, 119);
  margin-inline: auto;
  margin-block: 1rem;
}

.userInfo {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.userID {
  font-size: 0.6em;
  font-weight: bold;
}

/* UserManageAccount */
.updateLabel {
  position: absolute;
  left: -10000px;
}

.updateInput,
.updateButton {
  font: inherit;
  margin-block: 0.5rem;
  margin-inline: 0.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

/* AddPost */
.addPostForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  align-items: flex-start;
}

.addPostLabel {
  margin-block: 0.8rem 0.1rem;
}

.addPostTitle,
.addPostContent,
.addPostButton {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  font: inherit;
  width: 100%;
  margin-block: 0.5rem;
}

.moodButtonContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 0.2rem;
  width: 100%;
}

.moodButton {
  border: none;
  border-radius: 50%;
  background-color: gold;
  padding: 0;
  margin-block: 0.3rem;
}

.moodButton > svg {
  height: 45px;
  width: 45px;
}

.moodButton > svg:hover {
  scale: 1.2;
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 162, 0);
  padding: 0;
}

/* DisplayPost */

.postContainer {
  border: none;
  border-radius: 5px;
  max-height: 80vh;
  list-style: none;
  text-align: left;
  padding: 0.2rem;
}

.postHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 4px;
  background-color: rgb(207, 229, 119);
}

.postTitle {
  font-weight: 600;
  overflow: hidden;
}

.postTitleEdit {
  background-image: radial-gradient(rgb(228, 201, 162),rgb(229, 161, 119));
  background-color: rgb(229, 161, 119);
  height: 15px;
  width: 15px;
  border-radius: 8px;
  color: transparent;
  align-self: center;
  margin-right: .5rem;
  padding: 0;
}

.postTitleEdit:hover {
  height: auto;
  width: auto;
  border-radius: 4px;
  color: black;
  margin: 0 .5rem;
  font-size: .8em;
  padding: .1rem .3rem;
}

.postContent {
  padding-inline: 0.2rem;
  margin-inline: 0.2rem;
  overflow: hidden;
}

.postTimeButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.3rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.605);
}

.postTime {
  font-size: 0.8em;
  color: #333;
}

.postButtons {
  display: flex;
  gap: 0.3rem;
}

.postButtonEdit,
.postButtonDelete {
  font-size: 0.8em;
  padding: 0.1rem;
  width: 60px;
  border-radius: 4px;
}

.postButtonEdit:hover {
  background-color:  rgb(207, 241, 69);
}


.postButtonDelete {
  background-color: rgb(255, 187, 0);
}

.postButtonDelete:hover {
  background-color: rgb(255, 153, 0);
}

.postButtonEdit:active, .postButtonDelete:active {
  opacity: .8;
}

/* Footer */
footer {
  background-color: rgb(207, 229, 119);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5vh;
  display: grid;
  place-content: center;
}
