/* reset */
* {
  margin: 0;
  box-sizing: border-box;
}
/* allgemein */
html {
  background-color: gainsboro;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blanchedalmond;
  position: relative;
  padding-block: 5rem;
  width: 80vw;
  max-width: 800px;
  min-height: 100vh;
  margin-inline: auto;
  border: solid 1px gainsboro;
  border-radius: 5px;
  box-shadow: 1px 1px 13px gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: rgb(207, 229, 119);
}

button:hover {
  background-color: rgb(194, 230, 54);
  cursor: pointer;
}

main {
  margin-block: 1rem;
  padding-block: 1rem;
}

/* Header */
header {
  color: #333;
  background-color: rgb(207, 229, 119);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signOutButton {
  background-color: gold;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
}

/* LogIn */
.errorMessage {
  color: red;
}

.signInElements {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  margin-top: 3rem;
  margin-inline: auto;
  background-color: rgb(207, 229, 119);
  padding: 1rem;
  border-radius: 0.5rem;
}

.signInElements > input {
  background-color: rgb(236, 217, 208);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px rgba(0, 128, 0, 0.1);
}

.signInElements > button {
  background-color: rgb(244, 218, 144);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px rgba(0, 128, 0, 0.1);
}

.signInElements > button:hover {
  background-color: rgb(245, 205, 96);
}

/* UserSection */
.welcomeMessage {
  margin-top: 3rem;
}

.user-photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 1px gainsboro;
  margin-inline: auto;
  margin-block: 1rem;
  box-shadow: 1px 1px 2px gray;
}
.user-photo-default {
  height: 50px;
  width: 50px;
  border: solid 2px #333;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(207, 229, 119);
  margin-inline: auto;
  margin-block: 1rem;
}

.userInfo {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.userID {
  font-size: 0.6em;
  font-weight: bold;
}

/* UserManageAccount */
.updateLabel {
  position: absolute;
  left: -10000px;
}

.updateInput,
.updateButton {
  font: inherit;
  margin-block: 0.5rem;
  margin-inline: 0.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

/* AddPost */
.addPostForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  align-items: flex-start;
}

.addPostLabel {
  margin-block: 0.8rem 0.1rem;
}

.addPostTitle,
.addPostContent,
.addPostButton {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  font: inherit;
  width: 100%;
  margin-block: 0.5rem;
}

.moodButtonContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 0.2rem;
  width: 100%;
}

.moodButton {
  border: none;
  border-radius: 50%;
  background-color: gold;
  padding: 0;
  margin-block: 0.3rem;
}

.moodButton > svg {
  height: 45px;
  width: 45px;
}

.moodButton > svg:hover {
  scale: 1.2;
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 162, 0);
  padding: 0;
}

/* DisplayPost */
.postContainer {
  border: solid 1px gainsboro;
  margin: 1rem;
  border-radius: 5px;
  overflow: auto;
  max-height: 80vh;
  box-shadow: 1px 1px 5px gray;
  list-style: none;
  padding: 1rem;
  display: block;
  text-align: left;
}

details {
  background-color: rgb(207, 229, 119);
  border-radius: 5px;
  margin: 0.2rem;
}

details[open] > summary {
  list-style-type: "";
  background-color: rgba(176, 207, 54, 0.937);
}

summary {
  list-style-type: "";
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
summary:hover {
  background-color: rgba(176, 207, 54, 0.937);
  cursor: pointer;
}

summary > p {
  color: gray;
  font-size: 0.8em;
  text-align: right;
  font-weight: normal;
  margin-top: .5rem;
}

#postDataContent {
  padding: 1rem;
}

/* Footer */
footer {
  background-color: rgb(207, 229, 119);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5vh;
  display: grid;
  place-content: center;
}
